<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
	<import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
	<import class="ch.qos.logback.core.FileAppender"/>
	<import class="ch.qos.logback.core.ConsoleAppender"/>

	<appender name="FILE" class="FileAppender">
		<file>NetlistReaderBackend.log</file>
		<encoder class="PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ConsoleAppender">
		<encoder class="PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Source: https://stackoverflow.com/a/47930567 -->
	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>NetlistReaderBackend.rolling.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>system-%d{yyyy-MM-dd, UTC}.log.zip</fileNamePattern>
			<maxHistory>30</maxHistory>
			<totalSizeCap>1MB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="FILE"/>
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="ROLLING"/>
	</root>
</configuration>